---
layout: default
---
<div class="col-sm-12">
    <div class="posts-list-clean">
        {% for post in site.posts %}
            {% if post.archive == false %}
                <a href="{{ post.url | prepend: site.url }}" class="post-entry">
                    <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%b %-d, %Y" }}:</time>
                    <span class="post-title">{{ post.title }}</span>
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>
