---
layout: default
---
<div class="col-sm-12">
    <div class="posts-list">
        <ul class="posts">
            {% for post in site.posts %}
                {% if post.archive == false %}
                <li>
                    <a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a>
                    <hr>
                    <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%b %-d, %Y" }}</time>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
